body{
    font-family: 'Roboto', sans-serif!important;
}

main{
    background: url('./img/patron-animales-dibujados-mano_23-2147537189.webp');
    min-height: 160vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header{
    background-color: #2b275f80;
}

.navbar-collapse{
    flex-grow: 0;
    font-family: 'Roboto', sans-serif!important;

}



.nav_footer{
    position: fixed;
    bottom: 0;
    background-color: #2b275f80;
    width: 100%;
}

.nav_footer img{
    width: 3rem;
}