* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

.footer{
    width: 100%;
    min-height: 30rem;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
}

.nosotros{
    display: flex;
    flex-direction: column;
}

.nosotros a{
    margin-bottom: 1rem;
    text-decoration: none;
}